# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Playgrounds
playground.xcworkspace

# Other
*.swp
*.orig
